<app-header></app-header>

<main>
  <article>


        <!--
        - #ABOUT
      -->

      <section class="about">
        <div class="container">

          <figure class="about-banner">

            <img src="./assets/images/about-banner.png" alt="Eduland students" class="about-img">

            <img src="./assets/images/about-vector.svg" alt="Vector line art" class="vector-line">

            <button class="play-btn">
              <ion-icon name="play"></ion-icon>
            </button>

          </figure>

          <div class="about-content">

            <h2 class="h2 about-title"> <span class="ion ion-md-attach"></span> We Help to Create Possibility & Success in Your Career!</h2>

            <p class="section-text">
              Continually administrate process-centric human capital rather than bleeding-edge methodologies.
              Distinctively supply
              accurate methods of empowerment before.
            </p>

            <button class="btn btn-primary">Get Started Today</button>

          </div>

        </div>
      </section>

    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et in, modi maiores provident temporibus nesciunt officia totam, possimus vel deserunt accusantium quaerat. Libero accusamus mollitia saepe, excepturi vitae quas?</p>


  </article>
</main>


<app-footer></app-footer>
